In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('서울시_cp949.csv', encoding = 'cp949')
df.head()

,Unnamed: 0.1,Unnamed: 0,아파트명,면적,latitude,longitude,세대수,임대세대수,최고층,용적률,...,욕실수,해당면적_세대수,현관구조,가격,매매호가,전세호가,월세호가,실거래가,초등학교_학군정보,초등학교_설립정보
0,0,0,YH빌리지,33A㎡,37.478247,127.046670,16,0,6,297,...,1,4,계단식,NaN,NaN,NaN,NaN,NaN,서울포이초등학교,공립
1,1,1,YH빌리지,34B㎡,37.478247,127.046670,16,0,6,297,...,1,4,계단식,NaN,NaN,NaN,NaN,NaN,서울포이초등학교,공립
2,2,2,YH빌리지,35A㎡,37.478247,127.046670,16,0,6,297,...,1,4,계단식,NaN,NaN,NaN,NaN,NaN,서울포이초등학교,공립
3,3,3,YH빌리지,36B,37.478247,127.046670,16,0,6,297,...,1,4,계단식,NaN,NaN,NaN,NaN,NaN,서울포이초등학교,공립
4,4,0,개포래미안포레스트,74㎡,37.478448,127.054031,2296,120,35,249,...,2,118,계단식,NaN,18억~20억,"9억 4,000~10억",4억/150~9억/45,4억/150~9억/45,서울구룡초등학교,혁신

In [6]:
df = df.drop(columns = ['가격', '매매호가', '전세호가', '월세호가', '실거래가'])

In [9]:
df = df.drop(columns = ['용적률', '건폐율', '전용율', '임대세대수'])

In [10]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', '아파트명', '면적', 'latitude', 'longitude',
       '세대수', '최고층', '주차대수', '공급면적', '전용면적', '방수', '욕실수', '해당면적_세대수', '현관구조',
       '초등학교_학군정보', '초등학교_설립정보'],
      dtype='object')

In [12]:
df['주차비율_정수'] = df['세대수'] // df['주차대수']

In [13]:
df['주차비율_실수'] = df['세대수'] / df['주차대수']

In [15]:
df

,Unnamed: 0.1,Unnamed: 0,아파트명,면적,latitude,longitude,세대수,최고층,주차대수,공급면적,전용면적,방수,욕실수,해당면적_세대수,현관구조,초등학교_학군정보,초등학교_설립정보,주차비율_정수,주차비율_실수
0,0,0,YH빌리지,33A㎡,37.478247,127.046670,16,6,9,33.02,26.38,1,1,4,계단식,서울포이초등학교,공립,1.0,1.777778
1,1,1,YH빌리지,34B㎡,37.478247,127.046670,16,6,9,34.39,27.48,1,1,4,계단식,서울포이초등학교,공립,1.0,1.777778
2,2,2,YH빌리지,35A㎡,37.478247,127.046670,16,6,9,35.34,28.24,1,1,4,계단식,서울포이초등학교,공립,1.0,1.777778
3,3,3,YH빌리지,36B,37.478247,127.046670,16,6,9,36.32,29.03,1,1,4,계단식,서울포이초등학교,공립,1.0,1.777778
4,4,0,개포래미안포레스트,74㎡,37.478448,127.054031,2296,35,3961,74.31,49.92,2,2,118,계단식,서울구룡초등학교,혁신,0.0,0.579652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51105,1841,6,현대휴앤미,95B㎡,37.603153,127.084689,34,7,43,95.50,82.97,3,2,1,복합식,서울묵동초등학교,공립,0.0,0.790698
51106,1842,7,현대휴앤미,97C㎡,37.603153,127.084689,34,7,43,97.13,84.39,3,2,1,복합식,서울묵동초등학교,공립,0.0,0.790698
51107,1843,8,현대휴앤미,110㎡,37.603153,127.084689,34,7,43,110.42,95.94,3,2,5,복합식,서울묵동초등학교,공립,0.0,0.790698
51108,1844,9,현대휴앤미,115A㎡,37.603153,127.084689,34,7,43,115.29,100.17,3,2,5,복합식,서울묵동초등학교,공립,0.0,0.790698
51109,1845,10,현대휴앤미,115B,37.603153,127.084689,34,7,43,115.32,100.20,3,2,5,복합식,서울묵동초등학교,공립,0.0,0.790698

In [16]:
df.to_csv('네이버부동산_아파트.cp949.20220413.csv', encoding = 'cp949')
df.to_csv('네이버부동산_아파트.utf-8.20220413.csv', encoding = 'utf-8')