In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv("latitude_sample.csv", encoding="euc-kr")

In [3]:
df

                              도로명주소  지번주소  위도   경도
0               서울특별시 종로구 돈화문로9길 26   NaN NaN  NaN
1                  서울특별시 종로구 지봉로 29   NaN NaN  NaN
2                              None   NaN NaN  NaN
3                   서울특별시 종로구 종로 78   NaN NaN  NaN
4                              None   NaN NaN   ,
..                              ...   ...  ..  ...
852  서울특별시 양천구 중앙로 181 복합메디컬타운 3~8층   NaN NaN  NaN
853               서울특별시 양천구 신목로 120   NaN NaN  NaN
854  서울특별시 영등포구 도림로 144 88월드타워 6 7층   NaN NaN  NaN
855          서울특별시 서대문구 수색로 18 2~5층   NaN NaN  NaN
856        서울특별시 강동구 양재대로 1525 명품빌딩   NaN NaN  NaN

[857 rows x 4 columns]

In [47]:
df['도로명1'] = df['도로명주소'].apply(lambda x: re.findall(r'\w+시 \w+구 \w+로 \d+', x))
df['도로명1']

0                         []
1         [서울특별시 종로구 지봉로 29]
2                         []
3          [서울특별시 종로구 종로 78]
4                         []
               ...
852      [서울특별시 양천구 중앙로 181]
853      [서울특별시 양천구 신목로 120]
854     [서울특별시 영등포구 도림로 144]
855      [서울특별시 서대문구 수색로 18]
856    [서울특별시 강동구 양재대로 1525]
Name: 도로명1, Length: 857, dtype: object

In [38]:
df['도로명2'] = df['도로명주소'].apply(lambda x: re.findall(r'\w+시 \w+구 \w+로??길 \d+', x))

In [58]:
df['_도로명']=df['도로명1']+ df['도로명2']

df.to_csv("refined_.csv", encoding="euc-kr")